
.plan-box {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.plan-box:first-child {
    background-color: #d09191; 
    
}



.row {
    max-width:1140px;
    margin: 0 auto;
}
input[type=checkbox]{
    margin-left:0;
}

input[type=email],
input[type=text],
select,
textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid #000;
    border-radius: 10px;
}

textarea {
    height: 50px;
}
form {
    width: 60%;
    margin-left: 20%;
}

*:focus{
    outline: none;
}